@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

:root {
    --white: #fffbfb;
    --grey: #f0eef1;
    --black: #050505;
    --red: #ff7070;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;
    --border-radius: 8px;
    --spacing-button: 15px;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.header {
    background-color: var(--white);
    box-shadow: var(--shadow);
    height: 10vh;
    border-radius: var(--border-radius);
    text-align: center;
    padding: var(--spacing-button);
    font-size: 3rem;
}

.content {
    background-color: var(--grey);
    height: 80vh;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.grid {
    height: 500px;
    width: 500px;
    background-color: #050505;
    box-shadow: var(--shadow);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px
}

.cell {
    text-align: center;
    background-color: var(--white);
}

.cell:hover {
    background-color: var(--grey);
    cursor: pointer;
}
.restart{
    padding: var(--spacing-button);
    font-size: 1.8rem;
    border-radius: 8px;
    border: none;
    background-color: var(--light-red);
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
}
.restart:hover{
    filter: brightness(90%)
}

.footer {
    background-color: var(--white);
    height: 5vh;
    border-radius: var(--border-radius);
}