@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
:root{
    --white: #fffbfb;
    --grey: #f0eef1;
    --black: #050505;
    --red: #ff7070;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;
    --border-radius: 8px;
    --spacing-button: 15px;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}