@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
:root{
    --white: #fffbfb;
    --grey: #f0eef1;
    --black: #050505;
    --red: #ff7070;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;
    --border-radius: 8px;
    --spacing-button: 15px;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
body{
    margin: 0;
    padding: 0
    }
.header{
    background-color: var(--white);
    box-shadow: var(--shadow);
    height: 20vh;
    border-radius: var(--border-radius);
}
.content{
    background-color: var(--grey);
    height: 80vh;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}
.footer{
    background-color: var(--white);
    height: 10vh;
    border-radius: var(--border-radius);
}